.help {
  height: 5vh;
  background: wheat;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1000px) {
  .help {
    height: 10vh;
    background: wheat;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
  }
}

.helpp {
  color: black;
  text-align: center;
  font-size: 2rem;
  background: wheat;
  padding-top: 25px;
}

.helppa {
  background: wheat;
  color: red;
}
